.tshirt-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.tshirt-card {
      background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

select, button {
padding: 10px;
}